Repository teller-protocol/teller-protocol-v2, pull requests merged in 2023-02, with the labels that each got.

#31 Fix Collateral Liquidation
  packages/contracts/contracts/TellerV2.sol
  packages/contracts/deploy/00_deploy_teller_v2.ts
Labels: contracts, fix

#32 Lender Manager with claimable NFTs
  packages/contracts/contracts/LenderManager.sol
  packages/contracts/contracts/MarketRegistry/MarketRegistry__Goerli_TellerAS_Fix.sol
  packages/contracts/contracts/TellerV0Storage.sol
  packages/contracts/contracts/TellerV2.sol
  packages/contracts/contracts/TellerV2/TellerV2__Goerli_Commitment_Forwarder_Fix.sol
  packages/contracts/contracts/TellerV2Storage.sol
  packages/contracts/contracts/interfaces/ILenderManager.sol
  packages/contracts/contracts/interfaces/IMarketRegistry.sol
  packages/contracts/contracts/interfaces/ITellerV2.sol
  packages/contracts/contracts/interfaces/ITellerV2Context.sol
  packages/contracts/contracts/mock/MarketRegistryMock.sol
  packages/contracts/contracts/mock/TellerV2SolMock.sol
  packages/contracts/contracts/tests/LenderCommitmentForwarder_Test.sol
  packages/contracts/contracts/tests/LenderManager_Test.sol
  packages/contracts/contracts/tests/MarketForwarder_Test.sol
  packages/contracts/contracts/tests/MarketRegistry_Test.sol
  packages/contracts/contracts/tests/TellerV2Autopay_Test.sol
  packages/contracts/contracts/tests/TellerV2_Test.sol
  packages/contracts/contracts/tests/Test_Helpers.sol
  packages/contracts/deploy/00_deploy_lender_manager.ts
  packages/contracts/deploy/00_deploy_meta_forwarder.ts
  packages/contracts/deploy/00_deploy_reputation_manager.ts
  packages/contracts/deploy/00_deploy_teller_v2.ts
  packages/contracts/deploy/migrations/1665199139__set_goerli_commitment_forwarder.ts
  packages/contracts/deploy/migrations/1665202865__set_goerli_telleras_on_marketregistry.ts
  packages/contracts/deploy/migrations/1671231764__transfer_collateralLManager_ownership_to_tellerv2.ts
  packages/contracts/deploy/migrations/1676322266__tellerv2_set_lender_manager.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/helpers/tasks/active-loans.ts
  packages/contracts/package.json
  packages/contracts/test/teller-v2.spec.ts
  yarn.lock
Labels: contracts

#19 Monthly payment cycle
  packages/contracts/contracts/MarketRegistry.sol
  packages/contracts/contracts/TellerV2.sol
  packages/contracts/contracts/TellerV2Storage.sol
  packages/contracts/contracts/interfaces/IMarketRegistry.sol
  packages/contracts/contracts/libraries/DateTimeLib.sol
  packages/contracts/contracts/libraries/NumbersLib.sol
  packages/contracts/contracts/libraries/V2Calculations.sol
  packages/contracts/contracts/mock/MarketRegistryMock.sol
  packages/contracts/contracts/mock/TellerV2SolMock.sol
  packages/contracts/contracts/tests/LenderCommitmentForwarder_Test.sol
  packages/contracts/contracts/tests/MarketRegistry_Test.sol
  packages/contracts/contracts/tests/NextDueDate_test.sol
  packages/contracts/contracts/tests/PMT_Test.sol
  packages/contracts/contracts/tests/TellerV2Autopay_Test.sol
  packages/contracts/contracts/tests/TellerV2_Test.sol
  packages/contracts/contracts/tests/Test_Helpers.sol
  packages/contracts/contracts/tests/V2Calculations_Test.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/test/market-registry.spec.ts
  packages/contracts/test/reputation-manager.spec.ts
  packages/contracts/test/teller-v2.spec.ts
Labels: feature, contracts

#38 Fix/emit borrower update event
  packages/contracts/contracts/LenderCommitmentForwarder.sol
Labels: contracts
