Repository teller-protocol/teller-protocol-v2, pull requests merged in 2023-05, with the labels that each got.

#55 [TLRV2-489] Fix/claim remainder
  packages/contracts/contracts/MarketLiquidityRewards.sol
  packages/contracts/contracts/interfaces/IMarketLiquidityRewards.sol
  packages/contracts/tests/MarketLiquidityRewards_Override.sol
  packages/contracts/tests/MarketLiquidityRewards_Test.sol
Labels: contracts

#58 Feature/liquidity rewards over time
  packages/contracts/contracts/MarketLiquidityRewards.sol
  packages/contracts/contracts/TellerV2.sol
  packages/contracts/contracts/interfaces/ITellerV2.sol
  packages/contracts/contracts/mock/TellerV2SolMock.sol
  packages/contracts/tests/MarketLiquidityRewards_Combined_Test.sol
  packages/contracts/tests/MarketLiquidityRewards_Override.sol
  packages/contracts/tests/MarketLiquidityRewards_Test.sol
  packages/contracts/tests/TellerV2/TellerV2_getData.sol
Labels: contracts

#61 force specific token for reward
  packages/contracts/contracts/MarketLiquidityRewards.sol
  packages/contracts/tests/MarketLiquidityRewards_Combined_Test.sol
  packages/contracts/tests/MarketLiquidityRewards_Override.sol
  packages/contracts/tests/MarketLiquidityRewards_Test.sol
Labels: contracts

#56 [TLRV2-490] commit collateral is now protected (onlyTellerV2)
  packages/contracts/contracts/CollateralManager.sol
  packages/contracts/tests/CollateralManager_Test.sol
Labels: contracts

#62 adding commitment reward entity
  packages/subgraph/NOTES.md
  packages/subgraph/src/lender-commitment/mapping.ts
  packages/subgraph/src/liquidity-rewards/loaders.ts
  packages/subgraph/src/liquidity-rewards/mapping.ts
  packages/subgraph/src/liquidity-rewards/updaters.ts
  packages/subgraph/src/schema.graphql
  packages/subgraph/src/subgraph.handlebars
Labels: contracts, subgraph

#51 Subgraph/feature/claimable rewards
  packages/contracts/package.json
  packages/subgraph/NOTES.md
  packages/subgraph/README.md
  packages/subgraph/config/goerli.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/config/matic.json
  packages/subgraph/package.json
  packages/subgraph/src/collateral-manager/mapping.ts
  packages/subgraph/src/collateral-manager/updaters.ts
  packages/subgraph/src/helpers/loaders.ts
  packages/subgraph/src/helpers/updaters.ts
  packages/subgraph/src/lender-commitment/mapping.ts
  packages/subgraph/src/liquidity-rewards/loaders.ts
  packages/subgraph/src/liquidity-rewards/mapping.ts
  packages/subgraph/src/liquidity-rewards/updaters.ts
  packages/subgraph/src/liquidity-rewards/utils.ts
  packages/subgraph/src/mapping.ts
  packages/subgraph/src/schema.graphql
  packages/subgraph/src/subgraph.handlebars
  packages/subgraph/tsconfig.json
Labels: contracts, subgraph

#70 Adding a claimed boolean to BidReward entity
  packages/subgraph/src/liquidity-rewards/loaders.ts
  packages/subgraph/src/liquidity-rewards/mapping.ts
  packages/subgraph/src/schema.graphql
Labels: subgraph

#75 revert if reward claim is 0
  packages/contracts/contracts/MarketLiquidityRewards.sol
Labels: contracts

#97 fix tests for claim reward
  packages/contracts/tests/MarketLiquidityRewards_Combined_Test.sol
  packages/contracts/tests/MarketLiquidityRewards_Test.sol
Labels: contracts

#96 Prevent from committing multiple types of collateral
  packages/contracts/contracts/CollateralManager.sol
  packages/contracts/tests/CollateralManager_Test.sol
Labels: contracts

#72 Upgrade Contract Deployments
  packages/contracts/.eslintrc
  packages/contracts/deploy/00_deploy_market_liquidity_rewards.ts
  packages/contracts/deploy/00_deploy_teller_v2.ts
  packages/contracts/deployments/goerli/.latestDeploymentBlock
  packages/contracts/deployments/goerli/CollateralEscrow.json
  packages/contracts/deployments/goerli/CollateralEscrowBeacon.json
  packages/contracts/deployments/goerli/CollateralManager.json
  packages/contracts/deployments/goerli/CollateralManager_Implementation.json
  packages/contracts/deployments/goerli/MarketLiquidityRewards.json
  packages/contracts/deployments/goerli/MarketLiquidityRewards_Implementation.json
  packages/contracts/deployments/goerli/TellerV2.json
  packages/contracts/deployments/goerli/TellerV2_Implementation.json
  packages/contracts/deployments/goerli/solcInputs/217de5f57dd3f91d388a33ba61f6635a.json
  packages/contracts/deployments/goerli/solcInputs/7cc788dfdf9438529a85e7e50f74910a.json
  packages/contracts/deployments/mainnet/.latestDeploymentBlock
  packages/contracts/deployments/mainnet/CollateralEscrow.json
  packages/contracts/deployments/mainnet/CollateralEscrowBeacon.json
  packages/contracts/deployments/mainnet/CollateralManager.json
  packages/contracts/deployments/mainnet/CollateralManager_Implementation.json
  packages/contracts/deployments/mainnet/MarketLiquidityRewards.json
  packages/contracts/deployments/mainnet/MarketLiquidityRewards_Implementation.json
  packages/contracts/deployments/mainnet/TellerV2.json
  packages/contracts/deployments/mainnet/TellerV2_Implementation.json
  packages/contracts/deployments/mainnet/solcInputs/217de5f57dd3f91d388a33ba61f6635a.json
  packages/contracts/deployments/mainnet/solcInputs/7cc788dfdf9438529a85e7e50f74910a.json
  packages/contracts/deployments/polygon/.latestDeploymentBlock
  packages/contracts/deployments/polygon/CollateralEscrow.json
  packages/contracts/deployments/polygon/CollateralEscrowBeacon.json
  packages/contracts/deployments/polygon/CollateralManager.json
  packages/contracts/deployments/polygon/CollateralManager_Implementation.json
  packages/contracts/deployments/polygon/MarketLiquidityRewards.json
  packages/contracts/deployments/polygon/MarketLiquidityRewards_Implementation.json
  packages/contracts/deployments/polygon/TellerV2.json
  packages/contracts/deployments/polygon/TellerV2_Implementation.json
  packages/contracts/deployments/polygon/solcInputs/217de5f57dd3f91d388a33ba61f6635a.json
  packages/contracts/deployments/polygon/solcInputs/7cc788dfdf9438529a85e7e50f74910a.json
  packages/contracts/hardhat.config.ts
  packages/contracts/helpers/deploy-helpers.ts
  packages/contracts/helpers/hre-extensions.ts
  packages/contracts/package.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/mainnet.json
  packages/subgraph/config/matic.json
  packages/subgraph/scripts/deploy.sh
  packages/subgraph/src/helpers/intializers.ts
  packages/subgraph/src/helpers/updaters.ts
  packages/subgraph/src/liquidity-rewards/updaters.ts
  packages/subgraph/src/schema.graphql
  yarn.lock
Labels: contracts, subgraph
