Repository teller-protocol/teller-protocol-v2, pull requests merged in 2023-01, with the labels that each got.

#8 Subgraph updates
  packages/subgraph/src/helpers/intializers.ts
  packages/subgraph/src/helpers/updaters.ts
  packages/subgraph/src/mapping.ts
  packages/subgraph/src/schema.graphql
Labels: contracts, subgraph

#7 Subgraph patch
  packages/contracts/contracts/TellerV0Storage.sol
  packages/subgraph/config/polygon.json
  packages/subgraph/src/helpers/intializers.ts
  packages/subgraph/src/helpers/loaders.ts
  packages/subgraph/src/helpers/updaters.ts
  packages/subgraph/src/mapping.ts
  packages/subgraph/src/schema.graphql
  packages/subgraph/src/subgraph.template.yaml
Labels: contracts, subgraph

#12 Track Bid Payment Events
  packages/subgraph/package.json
  packages/subgraph/src/helpers/updaters.ts
  packages/subgraph/src/mapping.ts
  packages/subgraph/src/schema.graphql
Labels: contracts, subgraph

#13 Integrate Collateral Events into Subgraph
  packages/contracts/contracts/CollateralManager.sol
  packages/contracts/contracts/escrow/CollateralEscrowV1.sol
  packages/contracts/deploy/00_deploy_teller_v2.ts
  packages/contracts/deployments/goerli/.latestDeploymentBlock
  packages/contracts/deployments/goerli/CollateralEscrow.json
  packages/contracts/deployments/goerli/CollateralManager.json
  packages/contracts/deployments/goerli/CollateralManager_Implementation.json
  packages/contracts/deployments/goerli/solcInputs/8503dfd5c05ac4c56895b9fbd799438a.json
  packages/contracts/deployments/goerli/solcInputs/855ae3df15facd00f756ea9f465a9016.json
  packages/contracts/deployments/goerli/solcInputs/c74702cf16d75e776ba8b08b5d578245.json
  packages/contracts/deployments/goerli/solcInputs/ee02eb85dc77f7bcd945ed6847f3fc0b.json
  packages/contracts/package.json
  packages/subgraph/config/goerli.json
  packages/subgraph/src/helpers/loaders.ts
  packages/subgraph/src/helpers/updaters.ts
  packages/subgraph/src/mapping.ts
  packages/subgraph/src/schema.graphql
  packages/subgraph/src/subgraph.template.yaml
Labels: contracts, subgraph

#20 format
  packages/contracts/contracts/CollateralManager.sol
  packages/contracts/contracts/MarketRegistry.sol
  packages/contracts/contracts/TellerV0Storage.sol
  packages/contracts/contracts/TellerV2Autopay.sol
  packages/contracts/contracts/TellerV2Storage.sol
  packages/contracts/contracts/escrow/CollateralEscrowV1.sol
  packages/contracts/contracts/interfaces/ICollateralManager.sol
  packages/contracts/contracts/interfaces/escrow/ICollateralEscrowV1.sol
  packages/contracts/contracts/libraries/V2Calculations.sol
  packages/contracts/contracts/tests/CollateralEscrow_Test.sol
  packages/contracts/contracts/tests/TellerV2_Test.sol
  packages/contracts/helpers/tenderly.ts
Labels: contracts

#18 Payment Type to be added in Subgraph
  packages/subgraph/package.json
  packages/subgraph/src/helpers/loaders.ts
  packages/subgraph/src/mapping.ts
  packages/subgraph/src/schema.graphql
  packages/subgraph/src/subgraph.template.yaml
Labels: enhancement, contracts, subgraph

#24 Upgrade Typechain
  packages/contracts/package.json
  yarn.lock
Labels: contracts

#23 Subgraph Build/Deploy Script Network Input
  packages/subgraph/scripts/build.sh
  packages/subgraph/scripts/build_deploy.sh
  packages/subgraph/scripts/deploy.sh
Labels: contracts, subgraph

#25 Deploy Beacon for Collateral Escrow
  packages/contracts/contracts/CollateralManager.sol
  packages/contracts/deploy/00_deploy_teller_v2.ts
  packages/contracts/deployments/goerli/.latestDeploymentBlock
  packages/contracts/deployments/goerli/CollateralEscrowBeacon.json
  packages/contracts/deployments/goerli/CollateralManager.json
  packages/contracts/deployments/goerli/CollateralManager_Implementation.json
  packages/contracts/deployments/goerli/solcInputs/3b6ba2054697db02824328b7ab033342.json
  packages/contracts/deployments/goerli/solcInputs/5cf21c34f2fcbfc50e364f49b083b51c.json
  packages/contracts/deployments/mainnet/.latestDeploymentBlock
  packages/contracts/deployments/mainnet/CollateralEscrowBeacon.json
  packages/contracts/deployments/mainnet/CollateralManager.json
  packages/contracts/deployments/mainnet/CollateralManager_Implementation.json
  packages/contracts/deployments/mainnet/solcInputs/3b6ba2054697db02824328b7ab033342.json
  packages/contracts/deployments/mainnet/solcInputs/5cf21c34f2fcbfc50e364f49b083b51c.json
  packages/contracts/deployments/polygon/.latestDeploymentBlock
  packages/contracts/deployments/polygon/CollateralEscrowBeacon.json
  packages/contracts/deployments/polygon/CollateralManager.json
  packages/contracts/deployments/polygon/CollateralManager_Implementation.json
  packages/contracts/deployments/polygon/solcInputs/3b6ba2054697db02824328b7ab033342.json
  packages/contracts/deployments/polygon/solcInputs/5cf21c34f2fcbfc50e364f49b083b51c.json
  packages/contracts/package.json
Labels: contracts

#22 Payment cycle calculation bug fix
  packages/contracts/contracts/libraries/NumbersLib.sol
  packages/contracts/contracts/tests/PMT_Test.sol
Labels: contracts, fix

#21 Add payment date & outstanding capital to `Payment` entity in Subgraph
  packages/subgraph/src/helpers/updaters.ts
  packages/subgraph/src/schema.graphql
Labels: enhancement, contracts, subgraph

#28 always account for token volume interest
  packages/subgraph/package.json
  packages/subgraph/src/helpers/updaters.ts
  yarn.lock
Labels: contracts, subgraph
